.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full height for vertical centering */
}


input{
  width:100%;
  background-color:rgba(0, 0, 0, 0.171);
  color:black;
}

.item-container{
  text-align: left;
  margin-top: 10px;
}

h1{
  font-weight: bold;
}

.btn{
  width: 70px;
}
